#block-984c0370ad56468baa9bdee0cdf26a0e {
  width: 253px;
  align-self: center;
}

/* Donation embed */
#block-facab27b9ad84ecabbeacfec87b867d9 .notion-embed__content div:first-of-type {
  height: 1235px !important;
}

/* newsletter embed */
@media only screen and (max-width: 680px) {
  #block-c05956124a684c208446770ae42582aa .notion-embed__content {
    height: 500px;
  }
}


#block-267dc9272c6d4f98b8995368e78bac62 {
  background-image: url("https://treeoflight.earth//_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fe22253e5-f56b-4671-b666-dc43b02cba63%2Fimages%2F27a47a5d-59e3-4d29-a66d-f2257276044a.gif&w=640&q=80");
  background-repeat:no-repeat;
  background-position: center center;
}

#block-7141e6c4c61b4816b5426688dd8bd29f, #block-donate-four-directions {
  display:none !important;
}
