
.notion-header__title {
    color: transparent;
    text-shadow: none;
  }
  
  #block-bc9c82fa75df4857bc74288c23306200 {
      height: 680px !important;
  }
  
  #block-edb367e71f814b0b915d3485ac2d5624 {
    height: 1200px !important;
  }