
/* Primary title */
#block-da03d2eba22544deaaeab997ccec1e3b span strong {
    text-align: center;
    text-shadow: 1px 1px 4px #b5b3b3;
    font-size: 2.80rem;
    font-family: 'Square Peg', cursive!important;
    text-transform: initial!important;
    color: #319197!important;
    background: -webkit-linear-gradient(130deg,#DAA605,#af002d 41.07%,#319197 76.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Video embeds */
/* Home hero video */
#block-5377f7b5f65740709658170f15df58e2 {
    box-shadow: rgba(0, 0, 0, 0.1403) 0px -1.9px 18.1px 6px !important;
    border-radius: 13px!important;
}

/* Home - hero - image */
#block-8b6e69de46974b68bd47ecfd37bb02bd {
    -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
    -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
    -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
    -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
    transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
    transition: all .8s ease-in-out!important;
}
/* animated hover over color change - classes and specific element based */
#block-8b6e69de46974b68bd47ecfd37bb02bd:hover {
    filter: hue-rotate(6.142rad);
}

/* Intro callout box */
#block-0fb3cce128434178a252db82b48a77b3 .notion-semantic-string {
    font-size: 1.1rem!important;
}

/* **************************************
 * BLOCKS - Block specific (id) changes
 * **************************************
 */
/* Intro callout box */
#block-0fb3cce128434178a252db82b48a77b3 {
    margin: auto!important;
}

/* top divider */
#block-1ebbcd9b6aa44d4da1cd2f48f79e94c5 {
    margin: 2vh auto 0 !important;
    width: 18vh !important;
}

/* Top of page callout 
#block-0fb3cce128434178a252db82b48a77b3 {
    margin: auto!important;
} */

/* centered headers */
#block-ebb09234a76e40eeabe57b2480876f2d,
#block-076f58ee094648268b92edc7aac5d05b,
#block-3ce42ff4b4864e1d8fc040ba36ca871e,
#block-61684742de334d269c323dd7ddd3e3aa,
#block-c8bacffca23a4d46abf76d302b59a332,
#block-076f58ee094648268b92edc7aac5d05b,
#block-e192f91018f84e50a71136bc231c66dd,
#block-7fd071179d804499958a9fac195fcf4e,
#block-61a87ad6d79746cbbdfb5013a0896141,
#block-3ce42ff4b4864e1d8fc040ba36ca871e,
#block-ebb09234a76e40eeabe57b2480876f2d,
#block-940b80bc4e164eb5b9d0f9ca87e3552e,
#block-763779af89ac4c28882bba4f18d58017,
#block-d2149bd5ace2404686947057da9f5a05,
#block-1ef96f71655648faa16472af0794f129,
#block-da03d2eba22544deaaeab997ccec1e3b {
 text-align: center !important;
}

/* **************************************
 * HIDE - Block specific no-display
 * **************************************
 */
/* HIDE these Root Page link blocks */
#block-0fb3cce128434178a252db82b48a77b3 .notion-callout__icon,
#block-four-directions-spiritquests,
a#block-donate, a#block-spiritquests,
#block-ba6f384727d94c7d843e84294198edc9,
a#block-terms-of-use, a#block-privacy-policy,
a#block-cookie-policy, #block-mission,
#block-contact, #block-about {
    display: none!important;
}

/* Top title */
#block-62761b56baa54c61bbe88c6b61073f80 {
    display: none!important;
}

/* *******************************
 * QUERIES - Mobile Responsiveness
 * *******************************
 */
 @media only screen and (max-width: 680px) {
    /* Hero and title */
    .notion-header__cover {
      max-height: 30vh!important;
      height: 29vh!important;
    }
    .notion-header__title {
      margin-top: -35vh!important;
      margin-bottom: -9vh!important;
    }
    #block-5811442ea79a4a8f9f0746f16f50f2f1 .notion-callout__icon {
        display: none!important;
    }
 }