/* ***************************
 * Zap specific theme
 * See https://docs.super.so/super-css-classes
 * 1. IMPORTS & FONTS
 * 2. TYPOGRAPHY
 * 3. LAYOUT
 * 4. HEADER / NAV / COVER
 * 5. BODY / CONTENT
 * 6. FOOTER
 * 7. COMPONENTS
 * 8. QUERIES - Mobile Responsiveness
 * 9. BLOCKS - Block specific (id)
 * 10. CHILDREN - Page (children) specific 
 * ***************************
 */
 
 /* ***************************
 * 1. IMPORTS & FONTS
 * ***************************
 */
 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,800;1,100;1,200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
 
 
 /* ***************************
  * 2. TYPOGRAPHY
  * ***************************
  */
 body {
   font-family: 'Work Sans', sans-serif!important;
   font-weight: 100;
   letter-spacing: .16393vh!important;
 }
 
 h1, h2, h3 {
   font-weight: 300;
 }
 
 h1 strong, h2 strong, h3 strong {
   font-family: 'Libre Franklin', sans-serif;
   text-transform: uppercase!important;
   letter-spacing: .16393vh!important;
   font-weight: 800!important;
 }
 
 .notion-text .notion-text__content .notion-semantic-string .link {
  color: var(--color-text-yellow) !important;
  border-bottom: 1px solid var(--color-border-dark) !important;
}

.notion-semantic-string .link:hover, .notion-semantic-string .link:focus {
    color: var(--color-text-orange) !important;
    transition: all .333s ease-in-out !important;
  }

  .notion-semantic-string .link {
    color: var(--color-text-yellow) !important;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--color-border-dark) !important;
  }

  .notion-text .notion-text__content .notion-semantic-string .link:hover, .notion-text .notion-text__content .notion-semantic-string .link:focus {
    color: var(--color-text-orange) !important;
  }
 
 .notion-property .notion-semantic-string .date {
   color: var(--color-text-orange);
   text-shadow: 2px 2px 2px #fff !important;
 }
 
 .notion-pill {
   padding: 4px 5px 0px  !important;
   border-radius: 4px !important;
   text-shadow: 1px 1px 1px var(--color-bg-default) !important;
 }
 
 /* Primary multi-color title 
  * To use this - make sure you are using a notion heading and add the text color Pink
  */
 .notion-heading.color-pink {
   text-align: center !important;
 }
 /* Heading based */
 .notion-heading.color-pink strong span.color-pink,
 .notion-heading.color-pink span.highlighted-color.color-pink {
   text-shadow: 1px 1px 4px #b5b3b3;
   font-family: 'Square Peg', cursive!important;
   text-transform: initial!important;
   color: #319197!important;
   background: -webkit-linear-gradient(130deg,#DAA605,#af002d 41.07%,#319197 76.05%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center !important;
 }
 /* Text based, small, bold */
 p.notion-text__content .notion-semantic-string .highlighted-color.color-pink {
   text-shadow: 1px 1px 4px #b5b3b3;
   font-family: 'Square Peg', cursive!important;
   font-size: 2rem;
   text-transform: initial!important;
   color: #af002d!important;
   background: -webkit-linear-gradient(130deg,#DAA605,#da7a05 41.07%, #af002d 76.05%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center !important;
 }
 
 
 /* ***************************
  * 3. LAYOUT 
  * ***************************
  */
 
 /* Change the max width of the page content */
 :root {
     --max-width: 76rem!important;
     /* Color Overrides */
    --color-bg-gray-light: #28231E!important;
 }
 
 .super-navbar {
   min-height: 91px!important;
 }
 
 .notion-callout.border .notion-callout__content {
   overflow: initial!important;
   margin-top: 3px;
 }
 
 
 /* ***************************
  * 4. HEADER / NAV / COVER 
  * ***************************
  */
 
 /* header logo - must match setting in super->theme->navbar->logo width */
 .super-navbar__logo-image {
   height: 95px!important;
 }
 
 .super-navbar__logo, .super-navbar__actions, .super-footer__logo-image {
   -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 transition: all .8s ease-in-out!important;
 }
 
 /* animated hover over color change - classes and specific element based */
 .super-navbar__logo:hover, .super-navbar__logo:focus, .super-navbar__cta:hover, .super-navbar__cta:focus, .super-footer__logo-image:hover, .super-footer__logo-image:focus {
   filter: hue-rotate(6.142rad);
 }
 
 .super-navbar__content {
   max-width: 76rem!important;
   padding: initial!important;
   padding-left: 2rem!important;
   padding-right: 2rem!important;
   width: 100%!important;
   margin-left: auto!important;
   margin-right: auto!important;
   transition: all .333s ease-in-out!important;
 }
 
 /* Cover */
 .notion-header__cover {
   max-height: 60vh!important;
   height: 60vh!important;
   box-shadow: 0px 20px 40px -10px rgba(222, 222, 217,0.55);
   -webkit-box-shadow: 0px 20px 40px -10px rgba(222, 222, 217,0.55);
 }
 
 .super-navbar__item {
   transition: all .333s ease-in-out!important;
   border-bottom: 3px solid transparent !important;
 }
 .super-navbar .notion-link {
  transition: all .333s ease-in-out!important;
  border-bottom: 3px solid transparent !important;
 }
 
 .super-navbar__item.active, .super-navbar__item:hover, .super-navbar__item:focus {
   opacity: 1!important;
   color: #DAA605!important; /* muct match the theme color */
   filter: hue-rotate(6.142rad);
   border-bottom: 3px solid var(--color-text-orange) !important;
 }
 
 /* Set the border radius of the Super navbar call to action button */
 .super-navbar__cta {
   border-radius: 9px!important;
   padding: 9px 18px!important;
   transition: all .333s ease-in-out!important;
 }
 
 /* Notion Page Title */
 .notion-header__content {
   margin-top: -52vh!important;
   margin-bottom: 33vh!important;
 }
 
 .notion-header__title {
   font-weight: 900 !important;
   text-align: left!important;
   font-size: 4rem!important;
   color: #fff;
   /* max-width: 108vh!important; */
   text-transform: uppercase!important;
   text-shadow: 1px 1px 2px #000, 0 0 1em #333, 0 0 0.2em #222;
 }
 
 /* Page (header) icon */
 .notion-header__icon-wrapper.has-cover.has-icon-image {
   top: -20vh!important;
   left: -20vh!important;
   display: none !important;
 }

 /* Hide the navbar list in favor of dropdown only, like in mobile - only show first 4 links, show rest in dropdown (see below) */
 .super-navbar.simple .super-navbar__item-list a:nth-child(+n+5) {
  display: none !important;
 }
 .super-navbar__menu-open {
  display: flex !important;
 }
 .super-navbar__menu-item-list .super-navbar__item:last-child {
  position: relative;
  opacity: 1;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
  transition: opacity .2s ease-in-out;
  background: var(--navbar-button-background-color);
  color: var(--text-color-white) !important;
  transition: all .333s ease-in-out !important;
  border: 0 !important;
  margin: 13px 0 13px 15px;
 }
 .super-navbar__menu-item-list .super-navbar__item:last-child:hover {
  color: var(--text-color-white) !important;
 }
 
 
 /* ***************************
  * 5. BODY / CONTENT
  * ***************************
  */
 .super-content {
   margin-top: 60px!important; /* You can change this */ 
   padding-top: 60px!important; /* You can change this */ 
   padding-left: 2rem!important;
   padding-right: 2rem!important;
   max-width: 76rem!important;
   margin-left: auto!important;
   margin-right: auto!important;
 }
 
 /* Database Page Properties */
 /* Properties table for db pages */
 .notion-page__properties {
   margin-top: 13rem !important;
   padding-top: 1rem !important;
   border-top: 2px solid rgba(218, 166, 5, 1) !important;
   position: relative;
 }
 
 .notion-page__properties::before {
   content: "";
   position: absolute;
   bottom: 100%;
   width: 100%;
   left: 0;
   height: 3px;
   border-radius: 2px;
   background: linear-gradient(130deg,#DAA605,#af002d 41.07%,#319197 76.05%);
 }
 
 /* only if needed ...
 .notion-page__properties .notion-page__property:first-child {
   display: none !important;
 }*/
 
 /* Embeds */
 .notion-embed .notion-embed__content div:nth-child(1) {
   /*height: 1150px!important;*/
   width: 100%!important;
 }
 
 /* iFrame embed */
 .notion-embed__container iframe {
   border-radius: 13px!important;
 }

 /* Newsletter embed */
 #block-c05956124a684c208446770ae42582aa .notion-embed .notion-embed__content div:nth-child(1) {
  height: 144px;
 }
 
 
 
 /* ***************************
  * 6. FOOTER 
  * ***************************
  */
 .super-footer__link {
   color: rgba(218, 166, 5, 1)!important;
 }
 
 .super-footer__footnote {
   font-weight: 100;
   font-size: 13px;
   letter-spacing: 0!important;
 }
 
 .super-footer__logo {
   height: 77px;
 }
 
/* Footer policy & contact links - unstable */
 .super-footer__links a.super-footer__link:nth-last-child(-n+4) {
   font-size: .6rem!important;
   color: rgba(204, 195, 176, 1)!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+1) {
   position: absolute;
   margin-top: 0px;
   margin-left: 79%!important;
   color: #DAA605!important;
   border-bottom: 1px #DAA605 dashed;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+2) {
   position: absolute;
   margin-top: 22px;
   margin-left: 79%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+3) {
   position: absolute;
   margin-top: 44px;
   margin-left: 79%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+4) {
  position: absolute;
  margin-top: 66px;
  margin-left: 79%!important;
}
 
 
 /* ***************************
  * 7. COMPONENTS
  * ***************************
  */
 
 /* Turn a single line callout block into a button (Entire block is clickable) */
  .notion-callout { 
   position: relative!important;
   transition: all .333s ease-in-out!important;
 }
 
 .notion-callout .notion-callout__content:first-of-type > .notion-semantic-string span:first-of-type .notion-link {
   position: absolute!important;
   height: 100%!important;
   width: 100%!important;
   top: 0!important;
   left: 0!important;
   right: 0!important;
   bottom: 0!important;
   padding: var(--callout-padding)!important;
   padding-left: 50px!important;
   border: none!important;
   transition: all .333s ease-in-out!important;
   font-size: 1.34rem!important;
   /* effects */
   -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: all .4s ease-in-out!important;
 }
 
 /* Turn bold text link blocks into a button */
 .notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link, .notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
   padding: var(--cta-padding)!important;
   border: var(--cta-border)!important;
   box-shadow: var(--cta-shadow)!important;
   border-radius: var(--cta-border-radius)!important;
   opacity: 1!important;
   font-weight: 400!important;
   display: inline-flex!important;
   justify-content: center!important;
   transition: all .333s ease-in-out!important;
   font-size: 1.34rem!important;
   /* You can change the button colors here */
   background: #f0bd66!important;
   color: #ffffff!important;
   /* effects */
   -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: all .4s ease-in-out!important;
 }
 
 /* Button hover */
 .notion-root .notion-text p.notion-text__content span.notion-semantic-string span strong a.notion-link:hover, .notion-text p.notion-text__content span.notion-semantic-string span a.notion-link strong:hover, .notion-callout .notion-link:hover,
 .notion-root .notion-text p.notion-text__content span.notion-semantic-string span strong a.notion-link:focus, .notion-text p.notion-text__content span.notion-semantic-string span a.notion-link strong:focus, .notion-callout .notion-link:focus  {
   opacity: .7!important;
   filter: hue-rotate(8.442rad)!important;
 }
  
 a.notion-link:hover, a.notion-link:focus {
  opacity: .7!important;
  filter: hue-rotate(8.442rad)!important;
 }

 .notion-link.notion-page .notion-page__title > .notion-semantic-string:last-child::after {
  content: " →";
 }
 
 a.notion-link.notion-page, a.notion-link.notion-page > .notion-page__icon {
   transition: all .333s ease-in-out !important;
   color: var(--color-text-yellow);
   font-size: 1.2rem;
 }
 a.notion-link.notion-page:hover, a.notion-link.notion-page:focus {
   color: var(--color-text-orange);
   filter: hue-rotate(8.442rad) !important
 }
  
 /* Images */
 .notion-image.page-width > :first-child {
   border-radius: 13px !important;
   /* box-shadow: rgba(0, 0, 0, 0.03) 0px -1.9px 18.1px 6px !important; */
 }
 .notion-image.page-width img {
   border-radius: 13px !important;
   box-shadow: var(--callout-shadow) !important;
 }
  
 /* Dividers */
 .notion-divider {
   border-bottom: 2px solid rgba(218, 166, 5, 1)!important;
   position: relative;
 }
 
 .notion-divider::before {
   content: "";
   position: absolute;
   top: 100%;
   width: 100%;
   left: 0;
   height: 3px;
   border-radius: 2px;
   background: linear-gradient(130deg,#DAA605,#af002d 41.07%,#319197 76.05%);
 }
 
  
 /* *******************************
  * 8. QUERIES - Mobile Responsiveness
  * *******************************
  */
 @media only screen and (max-width: 680px) {
   .notion-header__cover {
     max-height: 30vh!important;
     height: 30vh!important;
   }
  /* Notion Page Title*/
   .notion-header__content {
     margin-top: -30vh!important;
     margin-bottom: 10vh!important;
   }
   .notion-header__title {
     text-align: left!important;
     font-size: 2rem!important;
     color: #fff!important;
     /* max-width: 108vh!important; */
     text-transform: uppercase!important;
     text-shadow: 1px 1px 2px #000, 0 0 1em #333, 0 0 0.2em #222!important;
   }
   .notion-text__children {
     margin-inline-start: inherit!important;
   }
   .notion-text__children .notion-column .notion-callout {
       margin-inline-start: inherit!important;
   }
   .notion-callout.border .notion-callout__content {
       margin-inline-start: inherit!important;
   }
   .notion-callout.border .notion-callout__icon {
     /*display: inline!important;*/
     margin-top: -3px!important;
   }
   /*
   .notion-column .notion-callout.border:first-of-type .notion-callout__icon, .notion-column .notion-callout.border:nth-of-type(2) .notion-callout__icon, .notion-column .notion-callout.border:nth-of-type(3) .notion-callout__icon, 
   .notion-column .notion-callout.border:nth-of-type(4) .notion-callout__icon, .notion-column .notion-callout.border:nth-of-type(5) .notion-callout__icon {}
   */
   .notion-callout .notion-callout__content:first-of-type > .notion-semantic-string span:first-of-type .notion-link {
     font-size: 1rem!important;
   }
   .notion-callout.border {
     padding: 22px 16px 16px 12px !important;
   }
  
   /* Footer policy & contact links - unstable */
 .super-footer__links a.super-footer__link:nth-last-child(-n+4) {
   font-size: .6rem!important;
   color: rgba(204, 195, 176, 1)!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+1) {
   position: absolute;
   margin-top: -180px;
   margin-left: 63.8%!important;
   color: #DAA605!important;
   border-bottom: 1px #DAA605 dashed;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+2) {
   position: absolute;
   margin-top: -158px;
   margin-left: 63%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+3) {
   position: absolute;
   margin-top: -138px;
   margin-left: 63%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+4) {
    position: absolute;
    margin-top: -119px;
    margin-left: 63%!important;
  }
  .super-navbar__menu, .super-navbar__menu-wrapper {
    max-height: 544px;
  }
 }
 
 
 
 /* ************************************************************************************************ */
 /* ************************************************************************************************ */
 /* ************************************************************************************************ */
 
 /* *************************************************************************************************
  * ********************* Block and Page (children) specific below **********************************
  * *************************************************************************************************
  */
 
 
 /* **************************************
  * 9. BLOCKS - Block specific (id) changes
  * See also: page-specific css
  * **************************************
  */
 
 
 /* **************************************
  * 10. CHILDREN - Page (children) specific 
  * See also: page specific css
  * **************************************
  */
 
  /* Header covers for spiritquest (sub)pages */
 .parent-page__spiritquests .notion-header__cover {
   max-height: 33vh!important;
   height: 33vh!important;
 }
 