/* ***************************
 * Zap specific theme
 * See https://docs.super.so/super-css-classes
 * 1. IMPORTS & FONTS
 * 2. TYPOGRAPHY
 * 3. LAYOUT
 * 4. HEADER / NAV / COVER
 * 5. BODY / CONTENT
 * 6. FOOTER
 * 7. COMPONENTS
 * 8. QUERIES - Mobile Responsiveness
 * 9. BLOCKS - Block specific (id)
 * 10. CHILDREN - Page (children) specific 
 * ***************************
 */
 
 /* ***************************
 * 1. IMPORTS & FONTS
 * ***************************
 */
 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,800;1,100;1,200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
 
 
 /* ***************************
  * 2. TYPOGRAPHY
  * ***************************
  */
 body {
   font-family: 'Work Sans', sans-serif!important;
   font-weight: 100;
   letter-spacing: .16393vh!important;
   background-color: #f1ebe5 !important;
 }
 
 h1, h2, h3 {
   font-weight: 300;
 }
 
 h1 strong, h2 strong, h3 strong {
   font-family: 'Libre Franklin', sans-serif;
   text-transform: uppercase!important;
   letter-spacing: .16393vh!important;
   font-weight: 800!important;
 }
 
 .notion-text .notion-text__content .notion-semantic-string .link {
  color: var(--color-text-blue) !important;
  border-bottom: 1px solid var(--color-border-dark) !important;
  opacity: 1 !important;
}

.notion-semantic-string .link:hover, .notion-semantic-string .link:focus {
  color: var(--color-text-green) !important;
  transition: all .333s ease-in-out !important;
}

.notion-semantic-string .link {
  color: var(--color-text-blue) !important;
  border-bottom: 1px solid var(--color-border-dark) !important;
}

.notion-text .notion-text__content .notion-semantic-string .link:hover, .notion-text .notion-text__content .notion-semantic-string .link:focus {
  color: var(--color-text-green) !important;
}

h1 .notion-semantic-string .link, h2 .notion-semantic-string .link, h3 .notion-semantic-string .link, h4 .notion-semantic-string .link {
  color: var(--color-text-green) !important;
}

.notion-property .notion-semantic-string .date {
  color: #333 !important;
  text-shadow: 2px 2px 2px #fff !important;
}

.notion-pill {
  padding: 4px 5px 0px  !important;
  border-radius: 4px !important;
  text-shadow: 1px 1px 1px var(--color-bg-default) !important;
}

/* Primary multi-color title 
* To use this - make sure you are using a notion heading and add the text color Pink
*/
.notion-heading.color-pink, #p.notion-text__content .notion-semantic-string .highlighted-color.color-pink {
  text-align: center !important;
}
/* Heading based */
.notion-heading.color-pink strong span.color-pink,
.notion-heading.color-pink span.highlighted-color.color-pink,
h1.notion-heading.color-pink span.highlighted-color.color-pink strong, 
h2.notion-heading.color-pink span.highlighted-color.color-pink strong, 
h3.notion-heading.color-pink span.highlighted-color.color-pink strong {
  text-shadow: 1px 1px 4px #b5b3b3;
  font-family: 'Square Peg', cursive!important;
  text-transform: initial!important;
  color: #319197!important;
  background: -webkit-linear-gradient(130deg,#DAA605,#af002d 41.07%,#319197 76.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center !important;
}
/* Text based, small, bold */
p.notion-text__content .notion-semantic-string .highlighted-color.color-pink {
  text-shadow: 1px 1px 4px #b5b3b3;
  font-family: 'Square Peg', cursive!important;
  font-size: 2rem;
  text-transform: initial!important;
  color: #af002d!important;
  background: -webkit-linear-gradient(130deg,#DAA605,#da7a05 41.07%, #af002d 76.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center !important;
  display: block;
}

/* Mission links that are not pages */
#block-bc4d5491410c45aeb8cbc66ba739b2a6.notion-text .notion-text__content .notion-semantic-string .link,
#block-eb272c39244448cbb98cfe100f3c0f39.notion-text .notion-text__content .notion-semantic-string .link,
#block-ee2cd45477ea4e2f9bda106ccaf01fee.notion-text .notion-text__content .notion-semantic-string .link {
  font-size: 1.2rem;
  font-weight: 500;
}

.notion-page > div:hover {
  background: inherit;
}

.notion-link.notion-page {
  color: var(--color-text-blue) !important;
}
#block-6d1fef9857104c95b5858cfc90382454 .notion-text .notion-link, #block-6d1fef9857104c95b5858cfc90382454 .notion-page.notion-link {
  color: var(--color-text-yellow) !important;
  }
 #block-6d1fef9857104c95b5858cfc90382454 h3 .notion-link {
   color: white !important;
 }
 .notion-callout.bg-gray-light .notion-link {
   color: var(--color-text-yellow) !important;
 }
 /* ***************************
  * 3. LAYOUT 
  * ***************************
  */
 
 /* Change the max width of the page content */
 :root {
     --max-width: 76rem!important;
     /* Color Overrides */
    --color-bg-gray-light: #28231E!important;
 }
 
 .super-navbar {
   min-height: 91px!important;
 }
 
 .notion-callout.border .notion-callout__content {
   overflow: initial!important;
   margin-top: 3px;
 }
 
 
 /* ***************************
  * 4. HEADER / NAV / COVER 
  * ***************************
  */
 
 /* header logo - must match setting in super->theme->navbar->logo width */
 .super-navbar__logo-image {
   height: 95px!important;
 }
 
 .super-navbar__logo, .super-navbar__actions, .super-footer__logo-image {
   -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
 transition: all .8s ease-in-out!important;
 }
 
 /* animated hover over color change - classes and specific element based */
 .super-navbar__logo:hover, .super-navbar__logo:focus, .super-navbar__cta:hover, .super-navbar__cta:focus, .super-footer__logo-image:hover, .super-footer__logo-image:focus {
   filter: hue-rotate(6.142rad);
 }
 
 .super-navbar__content {
   max-width: 76rem!important;
   padding: initial!important;
   padding-left: 2rem!important;
   padding-right: 2rem!important;
   width: 100%!important;
   margin-left: auto!important;
   margin-right: auto!important;
   transition: all .333s ease-in-out!important;
 }
 
 /* Cover */
 .notion-header__cover {
   max-height: 60vh!important;
   height: 46vh!important;
   box-shadow: 0px 20px 40px -10px rgba(222, 222, 217,0.55);
   -webkit-box-shadow: 0px 20px 40px -10px rgba(222, 222, 217,0.55);
 }
 
 .super-navbar__item {
   transition: all .333s ease-in-out!important;
   border-bottom: 3px solid transparent !important;
 }
 .super-navbar .notion-link {
  transition: all .333s ease-in-out!important;
  border-bottom: 3px solid transparent !important;
 }
 
 .super-navbar__item.active, .super-navbar__item:hover, .super-navbar__item:focus {
   opacity: 1!important;
   color: #DAA605!important; /* muct match the theme color */
   filter: hue-rotate(6.142rad);
   border-bottom: 3px solid var(--color-text-orange) !important;
 }
 
 /* Set the border radius of the Super navbar call to action button */
 .super-navbar__cta {
   border-radius: 9px!important;
   padding: 9px 18px!important;
   transition: all .333s ease-in-out!important;
 }
 
 /* Notion Page Title */
 .notion-header__content {
   margin-top: -42vh!important;
   margin-bottom: 23vh!important;
 }
 
 .notion-header__title {
   font-weight: 900 !important;
   text-align: left!important;
   font-size: 4rem!important;
   color: #fff;
   /* max-width: 108vh!important; */
   text-transform: uppercase!important;
   text-shadow: 1px 1px 2px #000, 0 0 1em #333, 0 0 0.2em #222;
 }
 
 /* Page (header) icon */
 .notion-header__icon-wrapper.has-cover.has-icon-image {
   top: -20vh!important;
   left: -20vh!important;
   display: none !important;
 }

 /* Navbar list of links in desktop: Hide the navbar list in favor of dropdown only, like in mobile - only show first 4 links, show rest in dropdown (see below) */
 .super-navbar.simple .super-navbar__item-list a:nth-child(+n+6) {
  display: none !important;
 }
 /* Change the menu icon */
.super-navbar__menu-open::after {
  content: "Menu";
  padding-top: 2px;
  margin-left: 2px;
  font-size: .999rem;
  text-align: center;
  font-weight: 500;
  text-transform: initial !important;
  color: #333 !important;
  background: -webkit-linear-gradient(130deg,#1d575c,#1d575c 41.07%,#333 76.05%);
    background-clip: border-box;
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .super-navbar__menu-open {
  display: flex !important;
  padding-right: 0 !important;
  transition: all .333s ease-in-out!important;
 }
 .super-navbar__menu-open:hover {
  filter: hue-rotate(6.142rad);
 }
 .super-navbar__menu-item-list .super-navbar__item:last-child {
  position: relative;
  opacity: 1;
  border-radius: 4px;
  padding: 14px 16px 12px 16px;
  cursor: pointer;
  white-space: nowrap;
  transition: opacity .2s ease-in-out;
  transition: all .333s ease-in-out!important;
  background: var(--navbar-button-background-color);
  color: #fff !important;
  transition: all .333s ease-in-out !important;
  border: 0 !important;
  margin: 13px 0 13px 15px;
 }
 .super-navbar__menu-item-list .super-navbar__item:last-child:hover {
  color: #fff !important;
  filter: hue-rotate(6.142rad);
  background: var(--color-text-blue) !important; /* muct match the theme color */
 }
 .super-navbar__menu, .super-navbar__menu-wrapper {
  max-height: 700px !important;
  max-width: 107rem !important;
 }
 .super-navbar__menu-wrapper {
  top: 9px;
 }
 
 
 /* ***************************
  * 5. BODY / CONTENT
  * ***************************
  */
 .super-content {
   margin-top: 60px!important; /* You can change this */ 
   padding-top: 60px!important; /* You can change this */ 
   padding-left: 2rem!important;
   padding-right: 2rem!important;
   max-width: 76rem!important;
   margin-left: auto!important;
   margin-right: auto!important;
 }
 
 /* Database Page Properties */
 /* Properties table for db pages */
 .notion-page__properties {
   padding-top: 1rem !important;
   border-top: 2px solid rgba(218, 166, 5, 1) !important;
   position: relative;
 }
 
 .notion-page__properties::before {
   content: "";
   position: absolute;
   bottom: 100%;
   width: 100%;
   left: 0;
   height: 3px;
   border-radius: 2px;
   background: linear-gradient(130deg,#DAA605,#af002d 41.07%,#319197 76.05%);
 }
 
 /* only if needed ...
 .notion-page__properties .notion-page__property:first-child {
   display: none !important;
 }*/
 
 /* Embeds */
 .notion-embed .notion-embed__content div:nth-child(1) {
   /*height: 1150px!important;*/
   width: 100%!important;
 }
 
 /* iFrame embed */
 .notion-embed__container iframe {
   border-radius: 13px!important;
 }

 /* Newsletter embed - synced block */
 #block-7336d4c3970c47c5b3755443c8b47a48.notion-embed .notion-embed__content div:nth-child(1) {
  height: 300px !important;
 }

 /* Get in touch embed - synced block */
 #block-1d09959c04b544da8c0c3313c4e51223.notion-embed .notion-embed__content div:nth-child(1) {
  height: 555px !important;
 }
 
 .notion-callout.bg-brown-light, .notion-collection-card.gallery {
   background: #F9F7F4 !important;
 }
 
 
 /* ***************************
  * 6. FOOTER 
  * ***************************
  */
 .super-footer__link {
   color: rgba(218, 166, 5, 1)!important;
 }
 
 .super-footer__footnote {
   font-weight: 100;
   font-size: 13px;
   letter-spacing: 0!important;
   line-height: 1.2rem;
 }
 
 .super-footer__logo {
   height: 77px;
 }

 /* Align the first links in the center */
 .super-footer__links {
  align-items: center;
 }
 
/* Footer donnate button - unstable but works - based on count of links #5 */
.super-footer__links a.super-footer__link:nth-last-child(+5) {
  border-radius: 9px !important;
  padding: 12px 18px 7px 18px !important;
  transition: all .333s ease-in-out !important;
  position: relative;
  opacity: 1;
  border-radius: var(--navbar-button-border-radii);
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
  transition: opacity .2s ease-in-out;
  background: var(--navbar-button-background-color);
  color: white !important;
  border: var(--cta-border) !important;
  box-shadow: var(--callout-shadow) !important;
  transition: all .333s ease-in-out !important;
  border-bottom: 3px solid transparent !important;
}

.super-footer__links a.super-footer__link:nth-last-child(+5):hover {
  opacity: .7 !important;
  filter: hue-rotate(1rad) !important;
}

/* Footer policy & contact links - unstable but works - based on count of last 4 links */
 .super-footer__links a.super-footer__link:nth-last-child(-n+4) {
   font-size: .6rem!important;
   color: rgba(204, 195, 176, 1)!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+1) {
   position: absolute;
   margin-top: -70px;
   margin-left: 79%!important;
   color: #DAA605!important;
   border-bottom: 1px #DAA605 dashed;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+2) {
   position: absolute;
   margin-top: -20px;
   margin-left: 79%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+3) {
   position: absolute;
   margin-top: 23px;
   margin-left: 79%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+4) {
  position: absolute;
  margin-top: 64px;
  margin-left: 79%!important;
}
 
 
 /* ***************************
  * 7. COMPONENTS
  * ***************************
  */

  /* Givebutter */
  .givebutter-button {
    margin: auto;
  }
 
 /* Turn a single line callout block into a button (Entire block is clickable) */
  .notion-callout { 
   position: relative!important;
   transition: all .333s ease-in-out!important;
 }
 
 .notion-callout .notion-callout__content:first-of-type > .notion-semantic-string span:first-of-type .notion-link {
   position: absolute!important;
   height: 100%!important;
   width: 100%!important;
   top: 0!important;
   left: 0!important;
   right: 0!important;
   bottom: 0!important;
   padding: var(--callout-padding)!important;
   padding-left: 50px!important;
   border: none!important;
   transition: all .333s ease-in-out!important;
   font-size: 1.34rem!important;
   /* effects */
   -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: all .4s ease-in-out!important;
 }
 
 /* Turn bold text link blocks into a button 
 .notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link, .notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
   padding: 11px 16px 8px 16px!important;
   border: var(--cta-border)!important;
   box-shadow: var(--cta-shadow)!important;
   border-radius: var(--cta-border-radius)!important;
   opacity: 1!important;
   font-weight: 400!important;
   display: inline-flex!important;
   justify-content: center!important;
   transition: all .333s ease-in-out!important;
   font-size: 1.14rem!important;
   background: #766B6E!important;
   color: #ffffff!important;
   -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: all .4s ease-in-out!important;
 }
 */
 
 /* turn highlighted background links into buttons */
 .notion-root .notion-text .notion-text__content .notion-semantic-string span .highlighted-background   {
   border: var(--cta-border)!important;
   box-shadow: var(--cta-shadow)!important;
   border-radius: var(--cta-border-radius)!important;
   opacity: 1!important;
   display: inline-flex!important;
   justify-content: center!important;
   transition: all .333s ease-in-out!important;
   font-size: 1.14rem!important;
   color: #ffffff!important;
   /* effects */
   -webkit-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -moz-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -o-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  -ms-transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: width .35s cubic-bezier(.46,.01,.32,1) 0s!important;
  transition: all .4s ease-in-out!important;
  filter: saturate(393%) brightness(.98) contrast(96%);
 }
 
  .notion-root .notion-text .notion-text__content .notion-semantic-string span .highlighted-background a.notion-link   {
     font-weight: 400!important;
      text-decoration: none !important;
      border: none!important;
      color: #000 !important;
      display: inline-flex!important;
      padding: 17px 26px 15px 26px!important;
      justify-content: center!important;
  }
 
 /* Button hover */
 .notion-root .notion-text p.notion-text__content span.notion-semantic-string span strong a.notion-link:hover, .notion-text p.notion-text__content span.notion-semantic-string span a.notion-link strong:hover, .notion-callout .notion-link:hover,
 .notion-root .notion-text p.notion-text__content span.notion-semantic-string span strong a.notion-link:focus, .notion-text p.notion-text__content span.notion-semantic-string span a.notion-link strong:focus, .notion-callout .notion-link:focus  {
   opacity: .7!important;
   filter: hue-rotate(8.442rad)!important;
 }
  
 a.notion-link:hover, a.notion-link:focus {
  opacity: .8 !important;
  filter: hue-rotate(1.4rad)!important;
 }

 .notion-link.notion-page .notion-page__title > .notion-semantic-string:last-child::after {
  content: " →";
 }
 
 a.notion-link.notion-page, a.notion-link.notion-page > .notion-page__icon {
   transition: all .333s ease-in-out !important;
   color: var(--color-text-yellow);
   font-size: 1.2rem;
 }
 a.notion-link.notion-page:hover, a.notion-link.notion-page:focus {
   color: var(--color-text-orange);
   filter: hue-rotate(8.442rad) !important
 }
  
 /* Images */
 .notion-image.page-width > :first-child {
   border-radius: 13px !important;
   /* box-shadow: rgba(0, 0, 0, 0.03) 0px -1.9px 18.1px 6px !important; */
 }
 .notion-image.page-width img {
   border-radius: 13px !important;
   box-shadow: var(--callout-shadow) !important;
 }
  
 /* Dividers */
 .notion-divider {
   border-bottom: 2px solid rgba(218, 166, 5, 1)!important;
   position: relative;
 }
 
 .notion-divider::before {
   content: "";
   position: absolute;
   top: 100%;
   width: 100%;
   left: 0;
   height: 3px;
   border-radius: 2px;
   background: linear-gradient(130deg,#DAA605,#af002d 41.07%,#319197 76.05%);
 }

 /* List of dividers to shorten */
 #block-1ebbcd9b6aa44d4da1cd2f48f79e94c5, #block-afd9995cf9374f46b78efe9dd96031ef,
 #block-ee5a2a3a2dbe452f9b6b902eb21b8928, #block-fd395c2c61884856971c14436bf54b1d,
 #block-0e368e96287c4d0fa608426593010007, #block-f70416780ec144acb87a1a5a97c856bd,
 #block-0d4cefa8abf54d8c9992df78f138f0f3, #block-144f9aac48464ff9afe8455d213a955f {
  margin: 2vh auto 0 !important;
  width: 18vh !important;
 }
 
 /* Loading bg for embeds
 #block-267dc9272c6d4f98b8995368e78bac62,
 #block-51663aeb8dac48f19ee736002ecece18,
 #block-26bea5b5ffb140e9b8d6089a384f7978,
 #block-bc9c82fa75df4857bc74288c23306200,
 #block-aca52c359f2d4bee8cc32ad393aefdb7,
 #block-edb367e71f814b0b915d3485ac2d5624 {
  background-image: url("https://treeoflight.earth//_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fe22253e5-f56b-4671-b666-dc43b02cba63%2Fimages%2F27a47a5d-59e3-4d29-a66d-f2257276044a.gif&w=640&q=80");
  background-repeat:no-repeat;
  background-position: center center;
}
*/

/* button or element align centers */
  #block-54915b7e96b04249b73a8b4fe68c6f2f,
  #block-9bb1adab5256425fa2bde0f8d0ebdf85,
  #block-82afbb099aa24e3b869bc452967df0d6,
  #block-2287aec5d4594d2ea3675be09ab4e1dd {
    margin: auto !important;
  }
 
  
 /* *******************************
  * 8. QUERIES - Mobile Responsiveness
  * *******************************
  */
 @media only screen and (max-width: 680px) {
   .notion-callout .notion-callout__content .notion-text__children {
    margin-right: 40px !important;
  }
  .notion-header__cover {
     max-height: 30vh!important;
     height: 27vh!important;
   }
  /* Notion Page Title*/
   .notion-header__content {
     margin-top: -28vh!important;
     margin-bottom: 11vh!important;
   }
   .notion-header__title {
     text-align: left!important;
     font-size: 2rem!important;
     color: #fff!important;
     /* max-width: 108vh!important; */
     text-transform: uppercase!important;
     text-shadow: 1px 1px 2px #000, 0 0 1em #333, 0 0 0.2em #222!important;
   }
   .notion-text__children {
     margin-inline-start: inherit!important;
   }
   .notion-text__children .notion-column .notion-callout {
       margin-inline-start: inherit!important;
   }
   .notion-callout.border .notion-callout__content {
       margin-inline-start: inherit!important;
   }
   .notion-callout.border .notion-callout__icon {
     /*display: inline!important;*/
     margin-top: -3px!important;
   }
   /*
   .notion-column .notion-callout.border:first-of-type .notion-callout__icon, .notion-column .notion-callout.border:nth-of-type(2) .notion-callout__icon, .notion-column .notion-callout.border:nth-of-type(3) .notion-callout__icon, 
   .notion-column .notion-callout.border:nth-of-type(4) .notion-callout__icon, .notion-column .notion-callout.border:nth-of-type(5) .notion-callout__icon {}
   */
   .notion-callout .notion-callout__content:first-of-type > .notion-semantic-string span:first-of-type .notion-link {
     font-size: 1rem!important;
   }
   .notion-callout.border {
     padding: 22px 16px 16px 12px !important;
   }
   .notion-callout .notion-column-list {
      margin-right: 20px !important;
    }
  
   /* Footer policy & contact links - unstable */
 .super-footer__links a.super-footer__link:nth-last-child(-n+4) {
   font-size: .6rem!important;
   color: rgba(204, 195, 176, 1)!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+1) {
   position: absolute;
   margin-top: -450px;
   margin-left: 63.8%!important;
   color: #DAA605!important;
   border-bottom: 1px #DAA605 dashed;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+2) {
   position: absolute;
   margin-top: -397px;
   margin-left: 63%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+3) {
   position: absolute;
   margin-top: -346px;
   margin-left: 63%!important;
 }
 .super-footer__links a.super-footer__link:nth-last-child(+4) {
    position: absolute;
    margin-top: -294px;
    margin-left: 63%!important;
  }
  /* Newsletter embed */
  #block-7336d4c3970c47c5b3755443c8b47a48.notion-embed .notion-embed__content div:nth-child(1) {
    height: 588px !important;
  }
  /* Get in touch embed - synced block */
  #block-1d09959c04b544da8c0c3313c4e51223.notion-embed .notion-embed__content div:nth-child(1) {
    height: 646px !important;
  }
 }
 
 
 
 /* ************************************************************************************************ */
 /* ************************************************************************************************ */
 /* ************************************************************************************************ */
 
 /* *************************************************************************************************
  * ********************* Block and Page (children) specific below **********************************
  * *************************************************************************************************
  */
 
 
 /* **************************************
  * 9. BLOCKS - Block specific (id) changes
  * See also: page-specific css
  * **************************************
  */
 
 
 /* **************************************
  * 10. CHILDREN - Page (children) specific 
  * See also: page specific css
  * **************************************
  */
 
  /* Header covers for spiritquest (sub)pages */
  .parent-page__spiritquests .notion-header__cover, .parent-page__events .notion-header__cover {
   max-height: 49vh!important;
   height: 49vh!important;
 }
